#headingPlace {
    border-bottom: 1px solid black;
}

/* Order book styling */

#book {
    min-height: 800px;
    /* height: 1000px; */
}

#sell-orders {
    height: 50%;
    /* border: 1px solid black; */
    position: relative;
    overflow: hidden;
}

#sub-sell-orders {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#outer-buy-orders {
    /* border: 1px solid black; */
    overflow: scroll;
    height: 50%;
}

#sell-orders .price-col p {
    color: red;
}

#buy-orders .price-col p {
    color: #47d600;
}

#buy-orders .row, #sell-orders .row {
    animation: fadebackground 1s;
}
/* body {
    background: #FCE97F;
    animation: fadebackground 6s;
} */

@keyframes fadebackground {
    from {
        background-color: black;
    }
    to {
        background-color: white;
    }
}

#sub-sell-orders::-webkit-scrollbar, #outer-buy-orders::-webkit-scrollbar {
    display: none;
}

.col p {
    text-align: center;
    margin: 0;
}

.btn-group .btn {
    border-radius: 0;
    width: 50%;
}

/* Order place styling */
#order-details {
    width: 70%;
    margin: 0 auto;
}

#protocol-select {
    margin-top: 200px;
}

#protocol-select .button-group {
    margin: 0 auto;
}

#submit_form {
    margin-top: 50px;
}

#http {
    float: right;
}